@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .contact-info-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .contact-info-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .contactinformation-bar .contact-info-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.4rem;
  margin-left: 10px;
}
header .container .socialmedia-bar a:hover {
  color: #808080;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active:after, header .container .menu nav a:hover:after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines-left {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content h1 p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content h1 a {
  margin-top: 20px;
  margin-right: 0px;
  display: block;
}
@media (min-width: 768px) {
  .showcase .container .content h1 a {
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.logotypes .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 1200px) {
  .logotypes .container {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 35px;
  }
}
.logotypes .container .box {
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  height: 600px;
}
.features .container .flex-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .container .flex-section .section-title {
  padding-right: 140px;
  padding-left: 140px;
}
.features .container .flex-section .section-title .center-content .btn-yellow {
  width: 460px;
  margin-top: 40px;
}
.features .container .flex-section .section-title a {
  text-align: center;
}
.features .grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "feature1 feature2" "feature3 feature4";
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.features .grid-section p {
  padding-bottom: 40px;
}
.features .grid-section h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.features .grid-section i {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.features .grid-section .feature {
  max-width: 100%;
}
.features .grid-section .feature .feature:nth-child(1) {
  grid-area: feature1;
}
.features .grid-section .feature .feature:nth-child(2) {
  grid-area: feature2;
}
.features .grid-section .feature .feature:nth-child(3) {
  grid-area: feature3;
}
.features .grid-section .feature .feature:nth-child(4) {
  grid-area: feature4;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 200px;
  height: 860px;
}
.main-container .companyinfo-section {
  flex: 1;
}
.main-container .companyinfo-section .company-section {
  position: relative;
  z-index: 0;
}
.main-container .companyinfo-section .company-section img {
  display: block;
  margin-top: 120px;
}
.main-container .companyinfo-section .company-section .companychild-1 {
  position: absolute;
  background-color: #BEEBFF;
  height: 180px;
  width: 370px;
  z-index: 1;
  left: -60px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}
.main-container .companyinfo-section .company-section .companychild-1 .horizontal-info {
  display: flex;
}
.main-container .companyinfo-section .company-section .companychild-1 .horizontal-info h3 {
  font-weight: 700;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  margin-top: 45px;
  margin-left: 25px;
}
.main-container .companyinfo-section .company-section .companychild-1 .horizontal-info .companychild-p {
  color: #F94D1C;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin-top: 45px;
  margin-left: 5px;
}
.main-container .companyinfo-section .company-section .companychild-1 p {
  font-size: 16px;
  font-weight: 100;
  font-family: "Inter", sans-serif;
  margin-left: 25px;
}
.main-container .secondcontainer .about-company .section-title {
  content: "";
}
.main-container .secondcontainer .about-company .company-info p {
  margin-top: -60px;
}
.main-container .secondcontainer .about-company .btn-company {
  margin-top: 120px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 450px;
}
.main-container .secondcontainer .about-company .btn-company .btn-black {
  width: 200px;
}
.main-container .secondcontainer .about-company .btn-company .btn-transparent {
  margin-left: 40px;
  border-radius: 50%;
  padding: 16px;
}
.main-container .secondcontainer .about-company .btn-company p {
  margin-left: 20px;
  margin-bottom: 2px;
}

.service-section {
  background-color: beige;
}
.service-section .container {
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.service-section .container .service-rubrik .section-title h2 {
  word-wrap: break-word;
}
.service-section .container .service-headlines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.service-section .container .service-headlines .service {
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px;
}
.service-section .container .service-headlines .service::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 40px;
  bottom: 50px;
  width: 40px;
  height: 2px;
  background-color: #191919;
}
.service-section .container .service-headlines .service .btn-black {
  padding: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  right: 30px;
}
.service-section .container .service-headlines .service .btn-black i {
  font-size: 30px;
}
.service-section .container .service-headlines .service h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 20px;
}
.service-section .container .service-headlines .service p {
  font-size: 16px;
}
.service-section .container .service-headlines .service:nth-child(1) {
  background-color: #ffffff;
}
.service-section .container .service-headlines .service:nth-child(2) {
  background-color: #F9D783;
}
.service-section .container .service-headlines .service:nth-child(3) {
  background-color: #ffffff;
}
.service-section .container .service-headlines .service:nth-child(4) {
  background-color: #ffffff;
}
.service-section .container .service-headlines .service .service-yellow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-section .container .service-headlines .service .service-yellow .btn-transparent {
  background-color: white;
  padding: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
.service-section .container .service-headlines .service .service-yellow .btn-transparent i {
  font-size: 30px;
}
.service-section .container .service-headlines .service .service-yellow .btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
}
.service-section .container .service-headlines .service .service-yellow .btn-transparent:hover i {
  color: white;
  background-color: transparent;
}
.service-section .container .center-content .btn-transparent {
  margin-top: 50px;
  margin-bottom: 120px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.whychooseus {
  display: flex;
}
.whychooseus .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whychooseus .container .chooseus .section-title {
  margin-bottom: -40px;
}
.whychooseus .container .chooseus .why-us-example {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.whychooseus .container .chooseus .why-us-example .icon-container i {
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 14px;
}
.whychooseus .container .chooseus .why-us-example .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.whychooseus .container .chooseus .why-us-example .text-container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.whychooseus .container .chooseus .why-us-example .text-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  white-space: nowrap;
}
.whychooseus .container .whychooseus-2 {
  flex: 1;
}
.whychooseus .container .whychooseus-2 .whychooseus-3 {
  position: relative;
}
.whychooseus .container .whychooseus-2 .whychooseus-3 img {
  margin-left: 280px;
}
.whychooseus .container .whychooseus-2 .whychooseus-3 .backgroundbox {
  position: absolute;
  background-color: #F0EFE9;
  height: 425px;
  width: 1040px;
  left: 160px;
  top: 160px;
  z-index: -1;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-section {
  background-color: #F9D783;
}
.meet-section .container .meet-rubrik {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet-section .container .meet-rubrik .section-title a {
  position: absolute;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  top: 150px;
  right: 0;
}
.meet-section .container .meet-headshots {
  display: flex;
  gap: 30px;
}
.meet-section .container .center-content .smallcircles {
  margin-right: 10px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.meet-section .container .center-content .smallcircles a {
  text-decoration: none;
  color: black;
}
.meet-section .container .center-content .smallcircles a:hover {
  color: white;
}

.testimonial-section {
  background-color: #F9D783;
  height: 1100px;
}
.testimonial-section .container {
  background-color: white;
}
.testimonial-section .container .testimonial-rubrik {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonial-section .container .client-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-section .container .center-content .btn-black {
  margin: 120px;
}

.articlenews-section .container .articlenews-rubrik {
  margin-bottom: -60px;
  position: relative;
}
.articlenews-section .container .articlenews-rubrik .section-title .btn-transparent {
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 150px;
}
.articlenews-section .container .articlenews-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.articlenews-section .container .articlenews-showcase .articleimages h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.articlenews-section .container .articlenews-showcase .articleimages p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: gray;
}
.articlenews-section .container .center-content .smallcircles {
  margin-right: 10px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.articlenews-section .container .center-content .smallcircles a {
  text-decoration: none;
  color: black;
}
.articlenews-section .container .center-content .smallcircles a:hover {
  color: white;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 20px;
}

.crito-section {
  z-index: 0;
  position: relative;
  background-color: #0E1021;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.crito-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.crito-section .container .crito-logo-section {
  grid-column: 1/2;
}
.crito-section .container .crito-logo-section p {
  color: white;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
.crito-section .container .crito-logo-section img {
  margin-top: 100px;
}
.crito-section .container .crito-rubrik {
  margin-left: 60px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.crito-section .container .crito-rubrik h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.crito-section .container .crito-rubrik a {
  padding-top: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.crito-section .container .crito-rubrik a:hover {
  color: gray;
}
.crito-section .container .background-images-right {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  border-top: 1px solid gray;
  padding: 20px;
  background-color: #0E1021;
}
footer .footer-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-section .container p {
  font-size: 16px;
  font-weight: 100;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 2px;
}
footer .footer-section .container .socialmedia-bar a {
  color: white;
  font-size: 1.1rem;
  margin-left: 10px;
}
footer .footer-section .container .socialmedia-bar a:hover {
  color: #808080;
}